// Imports
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');
@import 'colors.scss';
@import 'mixins.scss';

/*------ Main Styling (web 1920/1080) -----*/
html {
    scroll-behavior: smooth;
    transition: 10s
}

body {
    @include text;
    background-color: $dark;
    color: $osilver;
}
strong {
    font-weight: 600;
}
main {
    padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include headers;
    color: $osilver;
    text-shadow: 1px 1px $rosa;
}
.material-icons {
    text-shadow: 1px 1px $rosa;

}
nav {
    z-index: 999;
    background-color: $epink;
}

.landing-image {
    max-width: 100%;
    max-height: 75%;
}

.me-img {
    border-radius: 1rem;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}

.squared {
    border-radius: 70%;
    width: 125px;
    height: 125px;
    position: absolute;
    border: 3px dotted green;
}

/* ------ Card Styles ------ */

#cards {
    visibility: hidden;
}

.card {
    background-color: $coal;
    margin: 4px;
    margin-bottom: 22px;
    transition: ease-out 0.5s;

    &:hover {
        transform: scale(1.1);
        transition: ease-in-out 0.5s;
        box-shadow: 0.8px 0.5px 0.5px $epink;
        z-index: 100;
        color: $osilver;
    }
}

.card .card-reveal {
    background-color: $coal;
}

.card-image {
    //Overwrite the card image min size as this was pushing cards to be bigger/smaller
    min-height: 160px;
}

.btn-floating i {
    background-color: $epink;

    &:hover {
        background-color: $rosa;
        color: $osilver;
        transition: ease-in-out 0.5s;
    }
}

.second {
    margin-right: 55px;
    background-color: $rosa
}

.smol {
    max-width: 75px;
    max-height: 75px;
}

.dc {
    max-width: 55px;
    max-height: 40px;
    margin-left: 12px;
    margin-bottom: 18px;
}

.divider {
    box-shadow: 2px 2px 2px $epink;
}

#canv {
    display: block;
    box-shadow: 5px 3px 3px $rosa
}

.email {
    background-color: $epink;
}


/*------- Skills Section ------- */

#charts {
    visibility: hidden;
    display: inline-block;
    position: relative;
}

.chart {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: #999;
    font-size: 14px;
    text-align: center;
}


.chart2 {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: #999;
    font-size: 14px;
    text-align: center;
}

/* ----- Footer ----- */

.page-footer {
    background-color: $coal;
}


.d-circle {
    background: $dark;
    color: $epink;
    font-size: 12px;
    padding: 6px 9px;
    display: inline-block;
    border-radius: 50px;
    margin-right: 8px;
    cursor: pointer;
    transition: ease-in-out 0.5s;

    &:hover {
        transform: scale(1.3);
        transition: ease-in-out 0.5s;
    }
}

span.d-circle a {
    color: inherit;
}

.i-space {
    margin: 2px;
}
/*---------------- Contact Styling --------------------- */
.box {
    border: 1px solid $rosa;
}

// Media Queries

/* ---------- KeyFrames and Animations  ----------- */

//fade in from bottom
.slideUp {
    animation-name: slideUp;
    display: inline-block;
    position: relative;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible!important;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
// Slide in from right
.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}