
// Imports
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');
@import 'colors.scss';
@import 'mixins.scss';

// Main Styling (web 1920/1080)
body {
    @include text;
}
h1, h2, h3, h4, h5, h6 {
    @include headers;
}

.me-img {
    border-radius: 1rem;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
}
// Media Queries


