
// Imports
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');
@import 'colors.scss';
@import 'mixins.scss';

/*------ Main Styling (web 1920/1080) -----*/
body {
    @include text;
    background-color: $dark;
    color: $osilver;
}

h1, h2, h3, h4, h5, h6 {
    @include headers;
    color: $osilver;
}

.landing-image  {
    max-width: 100%;
    max-height: 75%;
}
.me-img {
    border-radius: 1rem;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
    margin-left: 15%;
}
/* ------ Card Styles ------ */
.card {
    background-color: $coal;
    margin: 4px;
    &:hover {
        transform: scale(1.2);
        transition: ease-in-out 0.5s;
        box-shadow: 0.8px 0.5px 0.5px $epink;
        z-index: 999;
        color: $osilver;
    }
}

.card .card-reveal {
    background-color: $coal;
}

.card-image { //Overwrite the card image min size as this was pushing cards to be bigger/smaller
    min-height: 160px;
}

.btn-floating i {
    background-color: $epink;
    &:hover {
        background-color: $rosa;
        color: $osilver;
        transition: ease-in-out 0.5s;
    }
}

.second {
    margin-right: 55px;
    background-color: $rosa
}

.smol  {
    max-width: 85px;
    max-height: 85px;
}

.divider {
    box-shadow: 2px 2px 2px $epink;
}
#canv {
    display: block;
    box-shadow: 5px 3px 3px $rosa
}
/* ------ Card styles end  ------ */ 
// Media Queries

